{% extends '/base/base.html.twig' %} 
{% block maincontent %}
<h1> I am loving symfony</h1>
<section>
    <ul>
       {% for movie in movies %}
         <li>{{ movie }}</li>
       {% endfor %}
    </ul> 
</section>
{% endblock %}

